@import "compass";

$body-copy-font: Vollkorn, Garamond, Helvetica, Arial;
$heading-font: "Fertigo Pro", Garamond, Georgia, Trebuchet, Arial;
$font-base: 16;

$default-transition-function: ease-in;
$default-transition-duration: 0.2s;

@import "qb/all";

p + p{
	margin-top: 26px;
}

a{
	color: #4479db;
	
	&:visited{
		color: #1052bf;
	}
}

.amp {
	@extend %ampersand-placeholder;
}