@import "base";

body{
	background: #f5f5f5;
}

#mainnav{
	position: fixed;
	top: 20px;
	right: 40px;
	opacity: .7;
	@include transition();

	&:hover{
		opacity: 1;
	}
}
#mainnav ul{
	list-style: none;
}
#mainnav li{
	display: inline;
}
#mainnav a{
	padding: 6px 8px;
	background: #333;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	font-family: Helvetica Neue, helvetica, arial, sans-serif;
	text-transform :uppercase;
	@include rem-sizing('font-size', 11);
	@include transition();

	&:hover{
		background: lighten(#333, 15);
	}
}

div.cover{
	@include background-size(cover);
	background-position: center;
	width: 100%;
	height: 350px;
}
div.cover.colloque{
	background-image: url('../img/cover-colloque.jpg');
}
div.cover.campus{
	background-image: url('../img/cover-campus.jpg');
	margin-top: 50px;
}

#header,
section{
	width: 600px;
	margin: auto;
}

#header{
	margin-top: 30px;
	text-align: center;
}
#header h1{
	margin-bottom: 40px;
}
#header h1 span{
	display: block;
	margin-bottom: 0;
}

section{
	margin-top: 70px;
	padding-top: 10px;
	border-top: 2px solid #818181;
}
section h2{
	@extend .gamma;
}
section h3{
	@extend .delta;
}

div.organisateurs{
	position: relative;
	left: -230px;
	margin-top: -395px;
	top: 395px;
}
div.organisateurs .organisateur{
	display: block;
	padding-top: 30px;
	margin-bottom: 10px;
	width: 125px;
	height: 125px;
	background: #e0e0e0;
	border-radius: 50%;
	text-align: center;
	@include transition();
	opacity: .6;
	
	&:hover{
		opacity: 1;
	}
}

div.organisateurs .gold{
	padding-top: 10px;
}

table.programme{
	margin-bottom: 30px;
}
table.programme tr:nth-child(odd){
	background: #e3e3e3;
}
table.programme td{
	line-height: 1.1;
	padding: 24px 0;
	
	&:first-child{
		min-width: 150px;
		text-align: right;
		vertical-align: top;
		padding-right: 20px;
	}
}
table.programme em{
	display: block; 
	@include rem-sizing('font-size', 18);
	margin-bottom: 8px;
	
	&.inline{
		display: inline;
	}
}

div.thème{
	margin-top: 20px;
	padding: 8px 0;
	text-align: center;
	font-family: $heading-font;
	@extend .delta;
	background: #333;
	color: #fff;
	
	&:before{
		content: '“';
	}
	&:after{
		content: '”';
	}
}
div.recompense{
	text-align: center;
	@extend .zeta;
}

section.concours h3{
	margin-top: 40px;
}
ul.jury{
	list-style: outside;
}

ul.intervenants{
	list-style: none;
}
ul.intervenants li{
	margin-bottom: 30px;
}
ul.intervenants .photo{
	display: block;
	position: relative;
	left: -120px;
	top: 75px;
	margin-top: -75px;
	width: 75px;
	height: 75px;
	border-radius: 50%;
}